html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}
.list_item {
  width: 200px;
  list-style: none;
  margin-right: 10px;
}
.button.is-hidden {
  display: none;
}
